<style>
    .email_input input {
        width: 70%;
    }

    .social_media ul {
        text-align: center;
    }

    .social_media ul li a {
        font-size: 24px;
        color: black;
        text-decoration: none;
    }

    .social_media ul li a:hover {
        color: #5b8c5a;
    }

    .social_media ul li a i{
        padding: 0 0.5vw;
    }

    .social_media ul li:first-child::after {
        content: "";
        margin: 0;
    }
</style>

<footer class="bg-dark mt-3 mt-md-auto">
    <div class="container bg-dark text-light">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 mt-2 mt-lg-4">
                <div>
                    <p class="display-4 fw-bold">One Shop</p>
                    <p class="fs-6">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in maximus tellus. 
                        Vestibulum euismod venenatis augue, non eleifend quam interdum non. 
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 mt-2 mt-lg-4">
                <div>
                    <h4>Join Our Newsletter Now</h4>
                    <p>Get E-mail updates about our latest special offers.</p>
                    
                    <form class="row row-cols-lg-auto g-3 align-items-center">
                        <div class="col-12">
                            <input type="text" name="newsletter" id="newsletter" class="form-control">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">SUBSCRIBE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container-fluid bg-dark text-light mt-2">
            <div>
                <div class="mx-3 mx-lg-5">
                    <div class="row border-top">
                        <div class="col-12">
                            <p class="text-center mt-3">Copyright &copy; Zavioer 2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>      
            